In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import sys
import tensorflow as tf
import keras
import numpy as np

In [3]:
data = pd.read_csv('../HousingPrices.csv')

In [4]:
data.head()

,YearBuilt,2ndFlrSF,GrLivArea,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,YrSold,SalePrice
0,2003,854,1710,2,1,3,8,2008,208500
1,1976,0,1262,2,0,3,6,2007,181500
2,2001,866,1786,2,1,3,6,2008,223500
3,1915,756,1717,1,0,3,7,2006,140000
4,2000,1053,2198,2,1,4,9,2008,250000

In [5]:
clean_data = data.drop(columns = ["2ndFlrSF"])

In [6]:
clean_data.head()

,YearBuilt,GrLivArea,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,YrSold,SalePrice
0,2003,1710,2,1,3,8,2008,208500
1,1976,1262,2,0,3,6,2007,181500
2,2001,1786,2,1,3,6,2008,223500
3,1915,1717,1,0,3,7,2006,140000
4,2000,2198,2,1,4,9,2008,250000

In [7]:
# clean_data.to_csv("dnn_data.csv",index=False, header = True)

In [8]:
data["GrLivArea"].median()

1464.0

In [9]:
X = clean_data.drop(columns= ["SalePrice"])
y = clean_data[['SalePrice']]

In [10]:
model = keras.Sequential()
model.add(keras.layers.Dense(8, activation = 'relu', input_shape = (7,))) # density based on number of features, relu normalizes the number to 0-1
model.add(keras.layers.Dense(3, activation = 'relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [11]:
model.fit(X,y, epochs = 30, callbacks = [keras.callbacks.EarlyStopping(patience = 5)])

Epoch 1/30
46/46 [==============================] - 0s 964us/step - loss: 39670493532.5957
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 2/30
46/46 [==============================] - 0s 893us/step - loss: 37692271899.2340
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 3/30
46/46 [==============================] - 0s 1ms/step - loss: 38552480746.2128
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 4/30
46/46 [==============================] - 0s 1ms/step - loss: 37755647520.6809
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 5/30
46/46 [==============================] - 0s 1ms/step - loss: 38183675076.0851
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 6/30
46/46 [==============================] - 0s 1ms/step - loss: 36780704615.4894
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 7/30
46/46 [==============================] - 0s 1ms/step - loss: 35496629792.6809
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 8/30
46/46 [==============================] - 0s 1ms/step - loss: 34712698182.8085
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 9/30
46/46 [==============================] - 0s 1ms/step - loss: 34249352954.5532
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 10/30
46/46 [==============================] - 0s 1ms/step - loss: 31939605177.1915
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 11/30
46/46 [==============================] - 0s 1ms/step - loss: 30390114478.2979
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 12/30
46/46 [==============================] - 0s 1ms/step - loss: 29331659405.6170
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 13/30
46/46 [==============================] - 0s 1ms/step - loss: 26086022950.1277
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 14/30
46/46 [==============================] - 0s 1ms/step - loss: 24500658481.0213
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 15/30
46/46 [==============================] - 0s 1ms/step - loss: 22355352423.4894
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 16/30
46/46 [==============================] - 0s 1ms/step - loss: 20409812861.2766
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 17/30
46/46 [==============================] - 0s 1ms/step - loss: 16784813687.8298
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 18/30
46/46 [==============================] - 0s 1ms/step - loss: 15404672806.1277
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 19/30
46/46 [==============================] - 0s 1ms/step - loss: 13473758186.2128
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 20/30
46/46 [==============================] - 0s 1ms/step - loss: 11623951251.0638
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 21/30
46/46 [==============================] - 0s 1ms/step - loss: 9482748666.5532
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 22/30
46/46 [==============================] - 0s 1ms/step - loss: 7521971701.1064
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 23/30
46/46 [==============================] - 0s 1ms/step - loss: 6791133009.7021
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 24/30
46/46 [==============================] - 0s 1ms/step - loss: 6284095956.4255
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 25/30
46/46 [==============================] - 0s 1ms/step - loss: 5234810493.2766
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 26/30
46/46 [==============================] - 0s 2ms/step - loss: 5082480972.2553
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 27/30
46/46 [==============================] - 0s 2ms/step - loss: 5606892258.0426
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 28/30
46/46 [==============================] - 0s 2ms/step - loss: 5595704001.3617
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 29/30
46/46 [==============================] - 0s 1ms/step - loss: 4577717738.2128
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
Epoch 30/30
46/46 [==============================] - 0s 1ms/step - loss: 5616505387.5745
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss

In [12]:
test_data = np.array([2020, 1710, 2, 1, 3, 8, 2008])
print(model.predict(test_data.reshape(1,7), batch_size=1))

[[185112.36]]

In [15]:
model_loss, model_accuracy = model.evaluate(
    X, y)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

46/46 [==============================] - 0s 715us/step - loss: 4834690048.0000

TypeError: 'float' object is not iterable